fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
python-dotenv
pytest
httpx
passlib[bcrypt]
python-jose[cryptography]
python-multipart
google-generativeai

httpx
beautifulsoup4

psycopg2-binary
